body {
  font-family: sans-serif;
  color: #000;
  font-size: 14px;
  background: #fff;
}
* {
  outline: none;
}

#wrapp_page {
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  & > *:not(:last-child) {
    margin-bottom: 50px;
  }
}

select, input {
  padding: 5px;
  box-sizing: border-box;
  
  &.error {
    border-color: red;
  }
}

.error_text {
  color: red;
}

button {
  display: block;
  padding: 5px 10px;
  width: 150px;
  height: 40px;
  background: transparent;
  border: 2px solid green;
  font-size: 16px;
  color: green;

  &[disabled="disabled"] {
    color: #f2f2f2;
    border-color: #f2f2f2;
  }
}


.main_title {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 20px;
}

form {
  & > * {
    display: block;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    & > * {
      display: block;
      margin-bottom: 5px;
    }
  }
}

.goods {
  border: 2px solid #cecece;
  width: 100%;

  th {
    font-weight: bold;
  }

  tr {
    &:not(:last-child){
      border-bottom: 1px solid #cecece;
    }

    & > * {
      padding: 5px;
      &:not(:last-child) {
        border-right: 1px solid #cecece;
      }
    }

  }

  &__total {
    font-size: 18px;
    font-weight: bold;
  }
}